kps/src/main/resources/wsdl/client.wsdl

<wsdl:definitions
	targetNamespace="http://kps-aportolan.rhcloud.com/schema/ProvisioningNotificationSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://kps-aportolan.rhcloud.com/schema/ProvisioningNotificationSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://kps-aportolan.rhcloud.com/schema/ProvisioningNotificationSchema">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://kps-aportolan.rhcloud.com/schema/ProvisioningNotificationSchema"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:simpleType name="ProvisioningState">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PENDING" />
					<xsd:enumeration value="ERROR" />
					<xsd:enumeration value="COMPLETE" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="NotifyProvisioningStateRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="requestId" type="xsd:string" />
						<xsd:element name="state" type="tns:ProvisioningState" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NotifyProvisioningStateResponse" />
			<xsd:element name="NotifyProvisioningStateFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="errorMessage" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NotifyProvisioningStateFault">
		<wsdl:part element="tns:NotifyProvisioningStateFault" name="NotifyProvisioningStateFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NotifyProvisioningStateRequest">
		<wsdl:part element="tns:NotifyProvisioningStateRequest"
			name="NotifyProvisioningStateRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NotifyProvisioningStateResponse">
		<wsdl:part element="tns:NotifyProvisioningStateResponse"
			name="NotifyProvisioningStateResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="client">
		<wsdl:operation name="NotifyProvisioningState">
			<wsdl:input message="tns:NotifyProvisioningStateRequest"
				name="NotifyProvisioningStateRequest"></wsdl:input>
			<wsdl:output message="tns:NotifyProvisioningStateResponse"
				name="NotifyProvisioningStateResponse"></wsdl:output>
			<wsdl:fault message="tns:NotifyProvisioningStateFault"
				name="NotifyProvisioningStateFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="clientSoap11" type="tns:client">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NotifyProvisioningState">
			<soap:operation soapAction="" />
			<wsdl:input name="NotifyProvisioningStateRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="NotifyProvisioningStateResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="NotifyProvisioningStateFault">
				<soap:fault name="NotifyProvisioningStateFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="clientService">
		<wsdl:port binding="tns:clientSoap11" name="clientSoap11">
			<soap:address location="http://localhost:8080/kpsws/client/services" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>