kps/src/main/resources/public/schema/gen/ProvisioningOperationsSchema.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://localhost:8080/schema/gen/ProvisioningOperationsSchema.xsd"
				xmlns:tns="http://localhost:8080/schema/gen/ProvisioningOperationsSchema.xsd"
				xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="Subscriber">
		<xsd:sequence>
			<xsd:element name="subscriber" type="xsd:string" />
			<xsd:element name="route" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="ProvisioningState">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PENDING" />
			<xsd:enumeration value="ERROR" />
			<xsd:enumeration value="COMPLETE" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="ProvisionSubscriberRequest">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="tns:Subscriber" />
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ProvisionSubscriberResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="requestId" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ProvisioningStateRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="requestId" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ProvisioningStateResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="state" type="tns:ProvisioningState" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CancelProvisioningRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="requestId" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CancelProvisioningResponse" />

	<xsd:element name="FaultMessage">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="errorMessage" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
